@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

  * {
    font-family: 'Roboto', sans-serif;
  }

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    /* width: 90vw; */
    justify-content: space-between;
  }

  .header {
    padding: 20px;
    background-color: #1F2937;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left-side {
    font-size: 36px;
  }

  .right-side ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }

  .intro {
    background-color: #1F2937;
    flex: 1;
    color: #F9F8F5;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;

  }

  .intro-text {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
.intro-text h1 {
    margin-top: 0;
  }

  #intro-image {
    display: flex;
    width: 300px;
    border: 2px solid #3881f62d;
    /* border-radius: 20px; */
  }

  .picture-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .picture-content {
    display: flex;
    gap: 10px;
  }

  .image-card img {
    border-radius: 5%;
    width: 150px;
    height: 150px;
    border: 2px solid mediumblue;
  }

  .quote-content {
    background-color: #E5E7EB;
    flex: 1;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .big-quote {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    color: #5c636cd1;
  }

  .quote-author {
    font-weight: 1000;
    font-size: 24px;
    color:#483434;
    align-self: end;
  }

  .call-to-action {
    background-color: #3882f6;
    color: white;
    display: flex;
    padding: 40px 80px;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
  }

  .call-to-action-text {
    font-weight: bold;
    font-size: 32px;
  }

  .call-to-action-text p {
    font-weight: lighter;
    font-size: 12px;
  }

  .call-to-action button {
    color: white;
    border-radius: 10px;
    background: transparent;
    border: 2px solid white;
    height: 40px;    
    padding: 10px 40px;
    flex-shrink: 0;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: rgba(255, 255, 255, 0.544);
    padding: 20px;
  }